<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.virus_confirmation_management_application">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Virus_Confirmation_Management_Application">

        <activity
            android:name=".manager_activity_virus_isolation_period"
            android:exported="false" />
        <activity
            android:name=".manager_activity_viral_transmissin_power"
            android:exported="false" />
        <activity
            android:name=".manager_activity_hosp_list"
            android:exported="false" />
        <activity
            android:name=".manager_activity_user_mana"
            android:exported="false" />
        <activity
            android:name=".manager_activity_virus_mana"
            android:exported="false" />
        <activity
            android:name=".manager_activity_qanda_update"
            android:exported="false" />
        <activity
            android:name=".manager_activity_qanda"
            android:exported="false" />
        <activity
            android:name=".manager_activity_notice_update"
            android:exported="false" />
        <activity
            android:name=".manager_activity_notice"
            android:exported="false" />
        <activity
            android:name=".manager_activity_matter_update"
            android:exported="false" />
        <activity
            android:name=".manager_avtivity_matter_mana"
            android:exported="false" />
        <activity
            android:name=".manager_activity_gogu_update"
            android:exported="false" />
        <activity
            android:name=".manager_activity_hosp_add"
            android:exported="false" />

        <activity
            android:name=".manager_activity_gogu"
            android:exported="false" />

        <activity android:name=".user_virusinformationlist"/>
        <activity android:name=".user_checkwirhlist"/>
        <activity android:name=".user_checkwith"/>
        <activity android:name=".user_findpwd"/>
        <activity android:name=".user_govguide"/>
        <activity android:name=".user_govguidepage"/>
        <activity android:name=".user_gpsmap"/>
        <activity android:name=".user_hosinformation"/>
        <activity android:name=".user_login"/>
        <activity android:name=".user_mypage"/>
        <activity android:name=".user_mystatereportlist"/>
        <activity android:name=".user_mystatereport"/>
        <activity android:name=".user_myvaccine"/>
        <activity android:name=".user_register"/>
        <activity android:name=".user_selftest"/>
        <activity android:name=".user_vaccineenroll"/>
        <activity android:name=".user_virusinformation"/>
        <activity android:name=".user_QandA"/>
        <activity android:name=".user_nearhosfind"/>
        <activity android:name=".user_announce"/>
        <activity android:name=".user_addfamily"/>
        <activity android:name=".user_MainActivity"/>





        <activity
            android:name=".manager_activity_home_bottom_navi"
            android:exported="true">






            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />






            </intent-filter>
        </activity>
    </application>

</manifest>